body {
    margin: 0;
    background-image: linear-gradient(
            to right,
            rgba(8, 113, 222, 0.5),
            rgba(30, 183, 119, 0.5)
    );
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.detBut {
    font-size: 20px;
    text-decoration: none;
}

.postTitles {

}
